.character-count
{
	background-color: #F5F5F5;
	color: #008000;
	border: solid 1px black;
	white-space: nowrap;
	font-size: 8pt;
}
.character-count-warning
{
	background-color: #F5F5F5;
	color: #ff6600;
	border: solid 1px black;
	white-space: nowrap;
	font-size:9pt;
}
.character-count-max
{
	background-color: #F5F5F5;
	font-weight: bold;
	color: #ff3300;
	border: solid 1px black;
	white-space: nowrap;
	font-size:8pt;
}